.containerContent {
  background-color: #f1f3f5;
}

.containerCategory,
.containerTable {
  margin: 24px;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
}

.label {
  margin-bottom: 16px;
  font-size: 18px;
  color: #1872a6;
  font-weight: 700;
}

.input {
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #1872a6;
  border-radius: 5px;
}

.headerResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.colTableNum {
  width: 40px;
  text-align: center;
}

.colTableAction {
  width: 170px;
}

.btnUpDown {
  width: 32px;
  display: inline-block;
}

.btnPrimary {
  background-color: #1872a6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 16px;
}

.btnPrimary:hover {
  background-color: #1872e6;
}
