.containerNavbar {
  background-color: #dbe9f6;
}
.logo {
  padding: 0px 8px;
  cursor: pointer;
  width: 200px;
}

.containerUser {
  display: flex;
}
.userName {
  padding: 8px;
  font-weight: 700;
  color: #0b3850;
  margin-bottom: 0;
}
.iconUser {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
